[submodule "mobile-app-restaurant-be"]
	path = mobile-app-restaurant-be
	url = https://github.com/tuan2linh/mobile-app-restaurant-be
[submodule "restaurant-manager-fe"]
	path = restaurant-manager-fe
	url = https://github.com/tuan2linh/restaurant-manager-fe
